@model Dictionary<string, string>

<div class="d-md-flex flex-wrap justify-content-around">
    <div class="w-50 pt-3">
        Тут будет карта
    </div>

    <div class="w-50 pt-3" style="font-size: xx-large">
        @foreach (var pair in Model)
        {
            <p>
                <span style="font-weight: bold">
                   @string.Concat(pair.Key, ": ")
                </span>
                <span>
                    @pair.Value
                </span>
            </p>
        }
    </div>
</div>